# Boot control
on boot
    start boot-hal-1-1

# Decryption
on init
    exec u:r:recovery:s0 -- /system/bin/detect-fbe.sh

# HVDCP
service hvdcp_opti /system/bin/hvdcp_opti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on boot
    start hvdcp_opti

# Workaround timestamp check
on init
    exec u:r:recovery:s0 -- /system/bin/workaround-timestamp-check.sh
